<!DOCTYPE html>
<html>
  <head>
    <title>Compare Trad Climbing Cams</title>
    <meta name="description" 
      content="CamSizes.com lets you compare traditional (trad) climbing spring-loaded camming devices (SLCDs or cams) by expansion/camming range, weight, number of lobes, etc. Build your ideal rack, compare Wild Country Friends to Black Diamonds camalots, learn what cams are in-between sizes, like the Metolius TCUs and Master Cams.">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <%= favicon_link_tag asset_path('climbing.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159879305-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-159879305-1');
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
