<!DOCTYPE html>
<html>
  <head>
    <title>CamSizes.com</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" />
    <%= favicon_link_tag asset_path('climbing.png') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
